body{
    font-family: 'Ubuntu', sans-serif;
    color: rgb(63, 61, 61);
}
span{
    color: rgba(34, 63, 231, 0.829);
}
h1{
    font-size: 50px;
    padding-left: 10px;
    
}
#border{
    border-left: solid blueviolet 3px;
}
p{
    font-size: 20px;
    padding: 20px 20px 20px 5px;
}
.button{
    text-decoration: none;
    background-color: mediumslateblue;
    background-image: -webkit-linear-gradient(rgba(98, 14, 177, 0.63),rgba(250, 199, 133, 0.596));
    padding: 15px 40px;
    border-radius: 10px;
    color: mintcream;
    font-size: 15px;
    font-weight: 600;
}
.one{
    display: flex;
}
.one-half{
    width: 100%;

}
.one-half img{
    width: 90%;
    margin-left: 50px;
}
.write{
    margin: 80px;
    margin-top: 90px;
}
.middle{
    text-align: center;
    margin-bottom: 52px;
}
.two{
    width: 30%;
    padding-left: 50px;
    margin: 30px;
}
.two img{
    width: 30%;
    margin: 0;
    padding-top: 20px;

}
.three{
    font-size: 30px;
}
.four{
    background: rgba(176, 223, 255, 0.63);
    border-radius: 15px;  
}
.five img{
    width: 80%;
    margin-left: 80px;
}
.five{
    margin: 20px;
}
.six{
    font-size: 30px;
}
.sev{
    padding-top: 80px;
}
.eight{
    background-image: url(shape-6.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 300px 300px;
}